// WC Catalog Product Styles
.wc-catalog-form {

	margin-bottom: 2em;

	table tbody td {
	    background: rgba(0, 0, 0, 0.025);
	}

	table tbody tr:nth-child(2n) td {
	    background: rgba(0, 0, 0, 0.015);
	}

	.catalog_table {
		    table-layout: auto;

		    td:first-child { text-align: center; }
	}

	div.add_to_cart_wrap {
		float: right;
	}
	
	div.quantity {
	    display: inline-block;
	    margin: 0 4px 0 0;
	}

	.spinner {
		background: url('/wp-admin/images/spinner.gif') no-repeat;
		background-size: 16px 16px;
		display: none;
		opacity: .7;
		filter: alpha(opacity=70);
		width: 16px;
		height: 16px;
		margin: 5px 5px 0;
	}

}